<div class="container">
  <div class="row">
    <h3 class="text-capitalize">jmx connection view</h3>
  </div>

  <div class="col-md-8">
    <!--连接表单-->
    <div class="row">
      <div id="app-jmx-connection-form-container">
        <app-jmx-connection-form
          (onJmxConnect)="onJmxConnect($event)"
        ></app-jmx-connection-form>
      </div>
    </div>

    <!--连接日志-->
    <div class="row">
      <div id="app-jmx-connection-msg-container">
        <app-jmx-connection-msg></app-jmx-connection-msg>
      </div>
    </div>
  </div>

  <!--连接列表-->
  <!--TODO-->
  <div class="col-md-4">
    <div class="app-connection-list-container">
      <app-jmx-connection-list></app-jmx-connection-list>
    </div>
  </div>
</div>
